/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  font-family: "Roboto";
  cursor: pointer;
}

.btn {
  background: linear-gradient(to top left, #9356DC, 55%, #FF79DA);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 3px 5px #a6a6a6;
  margin-top: 40px;
  margin-bottom: 20px;
}
.btn:hover {
  box-shadow: 4px 5px 7px #a6a6a6;
  opacity: 0.8;
}

.rest-cards .new {
  font-size: medium;
  font-weight: 700;
  width: 90px;
  line-height: 30px;
  text-align: center;
  color: #2a947a;
  background-color: #99E2D0;
  border-radius: 2px;
  position: relative;
  bottom: 220px;
  left: 70%;
}
@media screen and (max-width: 350px) {
  .rest-cards .new {
    left: 60%;
  }
}
@media screen and (min-width: 450px) {
  .rest-cards .new {
    left: 75%;
  }
}
@media screen and (min-width: 640px) {
  .rest-cards .new {
    left: 80%;
  }
}
@media screen and (min-width: 768px) {
  .rest-cards .new {
    left: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .rest-cards .new {
    left: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .rest-cards .new {
    left: 70%;
  }
}

/* Home */
.like {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 0;
  bottom: 50px;
  left: 85%;
}
.like .fa-heart {
  font-size: x-large;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.like:focus > .fa-heart {
  -webkit-text-stroke-width: 0px;
  animation: like 0.2s linear forwards;
}
@media screen and (min-width: 1280px) {
  .like:hover > .fa-heart {
    -webkit-text-stroke-width: 0px;
    animation: like 0.2s linear forwards;
  }
}

/* Restaurants */
.menu button {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.menu button .fa-heart {
  font-size: x-large;
  margin: 5px 5px -5px 1px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.menu button:focus > .fa-heart {
  -webkit-text-stroke-width: 0px;
  animation: like 0.2s linear forwards;
}
@media screen and (min-width: 1280px) {
  .menu button:hover > .fa-heart {
    -webkit-text-stroke-width: 0px;
    animation: like 0.2s linear forwards;
  }
}

@keyframes like {
  from {
    transform: scale(1.01);
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-position-y: 25px;
  }
  to {
    transform: scale(1.01);
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-position-y: 0;
  }
}
.loading-section {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 1;
  animation: loading 3s forwards;
}
.loading-section .loading-circle-top {
  height: 50px;
  width: 50px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  animation: spin-top 1.5s linear 2 both;
}
.loading-section .loading-circle-right {
  height: 50px;
  width: 50px;
  border: 10px solid transparent;
  border-right-color: #FF79DA;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  animation: spin-right 1.5s linear 2 both;
}
.loading-section .loading-circle-bottom {
  height: 50px;
  width: 50px;
  border: 10px solid transparent;
  border-bottom-color: #9356DC;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  animation: spin-bottom 1.5s linear 2 both;
}
.loading-section .loading-circle-left {
  height: 50px;
  width: 50px;
  border: 10px solid transparent;
  border-left-color: #99E2D0;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  animation: spin-left 1.5s linear 2 both;
}

@keyframes spin-top {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
}
@keyframes spin-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  12.5% {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
}
@keyframes spin-bottom {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
}
@keyframes spin-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  37.5% {
    transform: translate(-50%, -50%) rotate(270deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}
header {
  width: 100%;
  padding: 30px 0 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 2fr;
}
@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 4fr 1fr 7fr 5fr;
  }
}
@media screen and (min-width: 1280px) {
  header {
    grid-template-columns: 4fr 1fr 5fr 5fr;
  }
}
header a {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7450980392);
  grid-column-start: 2;
  display: flex;
}
@media screen and (min-width: 768px) {
  header a {
    justify-content: flex-end;
  }
}
header a i {
  font-size: larger;
  align-self: center;
}
header img {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

footer {
  width: 100%;
  background-color: rgb(70, 70, 70);
  padding: 20px 15px 30px 25px;
}
footer h4 {
  color: white;
  font-family: "Shrikhand";
  font-size: larger;
  padding-bottom: 15px;
}
footer li {
  padding: 5px 0 5px 0;
}
footer li a {
  color: white;
}
footer li a i {
  padding-right: 10px;
}
footer li a:hover {
  color: #9356DC;
}
footer li a:active {
  color: #FF79DA;
}
footer li .partner i {
  font-size: small;
  padding-right: 8px;
}

main {
  width: 100%;
}

/* Background */
.background-pg {
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .background-pg {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .background-pg {
    height: 450px;
  }
}

.background-ne {
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .background-ne {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .background-ne {
    height: 450px;
  }
}

.background-af {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .background-af {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .background-af {
    height: 450px;
  }
}

.background-ds {
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .background-ds {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .background-ds {
    height: 450px;
  }
}

/* Menu part */
.menu {
  margin-top: -55px;
  width: 100%;
  height: 1100px;
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  padding: 20px 20px 70px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.menu h1 {
  width: 80%;
  font-family: "shrikhand";
  font-size: x-large;
}
@media screen and (min-width: 1024px) {
  .menu {
    height: 550px;
  }
}

.menu-ne {
  height: 1170px;
}
@media screen and (min-width: 1024px) {
  .menu-ne {
    height: 620px;
  }
}

/* Starter */
.starter, .dessert, .dish {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.starter h2, .dessert h2, .dish h2 {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .starter, .dessert, .dish {
    width: 31%;
  }
}

.starter-ne {
  height: 330px;
}

.border {
  border-top: solid;
  border-top-color: #99E2D0;
  width: 40px;
  position: relative;
  bottom: 3px;
}

/* Cards */
.menu-card {
  background-color: #ffffff;
  width: 100%;
  height: 65px;
  font-size: medium;
  border: none;
  text-align: left;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 3px 5px #e6e6e6;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
}
.menu-card .plate {
  width: 100%;
  height: 55px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-card .plate h3 {
  width: 100%;
  font-weight: 700;
  color: #000000;
}
.menu-card .plate .details {
  width: 85%;
  height: 25px;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .plate .price {
  width: 10%;
  color: #000000;
  font-weight: 700;
}
.menu-card .checkbox {
  height: 100%;
  width: 0%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  text-align: center;
  line-height: 65px;
  font-size: x-large;
  color: #ffffff;
}
.menu-card:hover > .plate {
  width: 80%;
  transition: width 0.6s;
}
.menu-card:hover > .checkbox {
  width: 15%;
  transition: width 0.6s;
  transition-delay: 0.1s;
}
.menu-card:hover > .checkbox > i {
  animation: check 0.6s;
}

.menu-1 {
  animation: apparition 1s forwards;
}

.menu-2 {
  animation: apparition 1s 0.25s forwards;
}

.menu-3 {
  animation: apparition 1s 0.5s forwards;
}

.menu-4 {
  animation: apparition 1s 0.75s forwards;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes check {
  0% {
    transform: rotate(-360deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Dish, desserts and command button */
.button {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.button .btn {
  width: 200px;
  margin: 0 0 0 0;
  text-align: center;
}

.search {
  width: 100%;
  height: 55px;
  background-color: #ebebeb;
  box-shadow: 0px 1px 3px #a6a6a6 inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search form {
  width: 196px;
  height: 70%;
  display: flex;
}
.search form .icon-map {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.search form .icon-map a i {
  font-size: large;
  color: #4d4d4d;
}
.search form .icon-map a:hover > i {
  color: #9356DC;
}
.search form .icon-map a:active > i {
  color: #FF79DA;
}
.search form input[type=text] {
  width: 80%;
  height: 100%;
  border: none;
  background-color: #ebebeb;
  font-weight: 600;
  font-size: medium;
  font-family: "Roboto";
  color: #4d4d4d;
  display: flex;
  align-items: center;
}
.search form input[type=text]:focus {
  outline: none;
}

nav {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 30px 40px 30px;
}
nav h1 {
  width: 75%;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 15px;
}
nav p {
  font-size: large;
  color: gray;
}

.functioning {
  width: 100%;
  height: 400px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .functioning {
    height: 250px;
  }
}
.functioning h2 {
  font-size: x-large;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
.functioning .funct-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .functioning .funct-cards {
    justify-content: space-around;
  }
}
.functioning .funct-cards .steps {
  width: 90%;
  padding: 25px 0 25px 0;
  background-color: whitesmoke;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 10px #d9d9d9;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .functioning .funct-cards .steps {
    width: 30%;
  }
}
.functioning .funct-cards .steps * {
  position: relative;
  left: -15px;
}
.functioning .funct-cards .steps i {
  color: gray;
  font-size: larger;
  align-self: center;
  margin-left: 30px;
}
.functioning .funct-cards .steps .funct-description {
  color: #000000;
  width: 100%;
  font-size: medium;
  font-weight: 500;
  margin-left: 30px;
  align-self: center;
}
.functioning .funct-cards .steps:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.functioning .funct-cards .steps:hover > i {
  color: #9356DC;
}
.functioning .funct-cards .number {
  padding: 3px 8px 3px 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: #9356DC;
  color: #ffffff;
  align-self: center;
}

.restaurants {
  width: 100%;
  padding: 0 20px 50px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
.restaurants h2 {
  font-size: x-large;
  font-weight: 700;
  margin: 20px 0 20px 0;
}

.cards {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .cards {
    height: 530px;
  }
}
@media screen and (min-width: 1280px) {
  .cards {
    height: 250px;
  }
}

.rest-cards {
  width: 100%;
  height: 250px;
  box-shadow: 0px 3px 10px #d9d9d9;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  transition: all 0.2s;
}
.rest-cards .cards-link {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}
.rest-cards .cards-link:active {
  background-color: rgba(147, 86, 220, 0.1);
}
@media screen and (min-width: 768px) {
  .rest-cards {
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .rest-cards {
    width: 23%;
  }
  .rest-cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px #d9d9d9;
  }
}

.rest-description {
  padding: 15px 15px 15px 15px;
  width: 100%;
  height: 75px;
}
.rest-description h3 {
  color: black;
  font-weight: 800;
}
.rest-description p {
  color: black;
  font-weight: 300;
  margin-top: 5px;
}

.image {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/*# sourceMappingURL=style.css.map */
