.loading-section{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    position: absolute;
    z-index: 1;
    animation: loading 3s forwards;
    
    .loading-circle-top{
        height: 50px;
        width: 50px;
        border: 10px solid transparent;
        border-top-color: $primary;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 50px;
        animation: spin-top 1.5s linear 2 both;
        
    }
    .loading-circle-right{
        height: 50px;
        width: 50px;
        border: 10px solid transparent;
        border-right-color: $secondary;
        position: fixed; 
        top: 50%;
        left: 50%;
        border-radius: 50px;
        animation: spin-right 1.5s linear 2 both;
    }
    .loading-circle-bottom{
        height: 50px;
        width: 50px;
        border: 10px solid transparent;
        border-bottom-color: $primary;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 50px;
        animation: spin-bottom 1.5s linear 2 both;
    }
    .loading-circle-left{
        height: 50px;
        width: 50px;
        border: 10px solid transparent;
        border-left-color: $tertiary;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 50px;
        animation: spin-left 1.5s linear 2 both;
    }
}

@keyframes spin-top {
    0%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
    50%{transform: translate(-50%,-50%) rotate(360deg);opacity: 1;}
    100%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
}
@keyframes spin-right {
    0%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
    12.5%{transform: translate(-50%,-50%) rotate(90deg);opacity: 0;}
    50%{transform: translate(-50%,-50%) rotate(360deg);opacity: 1;}
    100%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
}
@keyframes spin-bottom {
    0%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
    25%{transform: translate(-50%,-50%) rotate(180deg);opacity: 0;}
    50%{transform: translate(-50%,-50%) rotate(360deg);opacity: 1;}
    100%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
}
@keyframes spin-left {
    0%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
    37.5%{transform: translate(-50%,-50%) rotate(270deg);opacity: 0;}
    50%{transform: translate(-50%,-50%) rotate(360deg);opacity: 1;}
    100%{transform: translate(-50%,-50%) rotate(0deg);opacity: 0;}
}

@keyframes loading {
    0%{z-index: 1;}
    99%{z-index: 1;}
    100%{z-index: -1;}
}
