/* Home */

.like{
    width: 24px;
    height: 24px;
    position: relative;
    padding: 0;
    bottom: 50px;
    left: 85%;

    & .fa-heart{
        font-size: x-large;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    &:focus > .fa-heart{
        -webkit-text-stroke-width: 0px;
        animation: like 0.2s linear forwards;
    }
    
    @include desktop-only{
        &:hover > .fa-heart{
            -webkit-text-stroke-width: 0px;
            animation: like 0.2s linear forwards;
        }
    }
    
}



/* Restaurants */

.menu button{
    overflow: hidden;
    position: relative;
    z-index: 1;
    & .fa-heart{
        font-size: x-large;
        margin: 5px 5px -5px 1px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    &:focus > .fa-heart{
        -webkit-text-stroke-width: 0px;
        animation: like 0.2s linear forwards;
    }
    @include desktop-only{
        &:hover > .fa-heart{
            -webkit-text-stroke-width: 0px;
            animation: like 0.2s linear forwards;
        }
    }
}

@keyframes like{
    from{transform: scale(1.01);
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        background-position-y: 25px;}

    to{ transform: scale(1.01);
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        background-repeat: no-repeat;
        background-position-y: 0;}
}
