.rest-cards .new{
    font-size: medium;
    font-weight: 700;
    width: 90px;
    line-height: 30px;
    text-align: center;
    color: darken($color: #99E2D0, $amount: 37);
    background-color: #99E2D0;
    border-radius: 2px; 
    position: relative;
    bottom: 220px;
    left: 70%;

    @media screen and (max-width:350px) {
        left: 60%
    }
    @media screen and (min-width:450px) {
        left: 75%;
    }
    @include mobile-landscape{
        left: 80%;
    }
    @include tablet-portrait{
        left: 70%;
    }
    @include tablet-landscape{
        left: 80%;
    }
    @include desktop-only{
        left: 70%;
    }
}
